.App {
  .app-bar {
    height: 50px;
    text-align: center;
  }

  .inside-styles-of-parallax{
    background: "white";
    padding: 20;
    position: "absolute";
    top: 50%;
    left: 75%;
    transform: "translate(-50%,-50%)";
  }
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.height-100-percent {
  height: 100%;
}

.flex-wrap {
  flex-wrap: wrap;
}

.hero-paper {
  height: 350px;
  width: 350px;
  margin: 3%;
}

.flex-direction-column {
  flex-direction: column;
}

.contact-me {
  margin: 0px 20px 20px 20px;
  .contact-me-input {
    width: 100%;
  }
}

.margin-bottom-20px {
  margin-bottom: 20px;
}

.m-10-px {
  margin: 10px !important;
}

.m-t-70-px {
  margin-top: 50px;
}

.justify-content-space-between {
  justify-content: space-between;
}

.flex-justify-content-end {
  display: flex;
  justify-content: flex-end;
}

.opacity-65-percent{
  opacity: 65%;
}